streamlit
pandas
joblib
python-docx
google-generativeai
scikit-learn
openpyxl
fpdf
spacy
https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.7.0/es_core_news_md-3.7.0.tar.gz


